@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>


<div class="text-center">
    <p>Click <a href="Shared/EmptyHtmlFile.html">here</a> to see my favorite cat</p>
</div>


<div>
    <img src="IMG_8019.jpg" >
</div>